@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Oswald:wght@400;700&display=swap');

:root {
    --black: black;
    --white: #ffffff;
    --dark_blue: #3a568c;
    --red: #d05d5d;
    --grey: grey;
    --bisque: bisque;
    --light_bisque: #ffedd9;
    --light_purple: #747bff;
    --link_before: #646cff;
    --link_after: #535bf2;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--black);
    background-color: var(--white);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
}

p {
    text-align: left;
    margin: 1.5rem 0;
}

.markdown-styled p {
    text-align: justify;
}

.markdown-styled h3 {
    text-align: left;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.1;
    color: var(--dark_blue);
}

.markdown-styled code {
    font-family:
        Courier Prime,
        monospace;
    background-color: var(--light_bisque);
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
}

.markdown-styled ul {
    text-align: left;
    list-style-type: square;
}

.markdown-styled .code-block {
    background-color: var(--light_bisque);
    border-radius: 0.2rem;
}

.markdown-styled .block-text {
    font-family:
        Courier Prime,
        monospace;
    padding: 1rem 2rem;
    margin: 0;
}

.markdown-styled .bib-text {
    font-size: 0.9em;
    font-family:
        Courier Prime,
        monospace;
    padding: 1rem 2rem;
    margin: 0;
}

.markdown-styled .note {
    margin: 1rem 2rem;
    background-color: var(--light_bisque);
    border-radius: 0.2rem;
    border-left: 6px solid var(--dark_blue);
}

.markdown-styled .note-text {
    margin: 0 2rem;
    padding: 0.5rem 0;
}

.model-viewer__container {
    width: 800px;
    height: 550px;
    margin: 0 auto 2rem auto;
    text-align: left;
}

.model-viewer__view {
    width: 800px;
    height: 550px;
    border-radius: 20px;
    border: 2px solid var(--black);
}

@media only screen and (max-width: 1023px) {
    .details-page__model-viewer {
        width: 650px;
        height: 500px;
    }

    .model-viewer__view {
        width: 650px;
        height: 500px;
    }
}

@media only screen and (max-width: 767px) {
    .details-page__model-viewer {
        display: none;
    }
}
